Flask==2.3.3
Flask-SQLAlchemy==3.0.0
Flask-WTF==1.1.0
Flask-Bootstrap==3.3.7.1
Flask-Login==0.6.2
html2image==2.0.1
python-dotenv==1.0.0
WTForms==2.3.3
SQLAlchemy==1.4.44
Werkzeug==2.2.3
gunicorn
email-validator
