Flask==2.1.3
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.0.1
Flask-Bootstrap==3.3.7.1
Flask-Login==0.6.2
html2image==2.0.1
python-dotenv==1.0.0
WTForms==3.0.0
SQLAlchemy==1.4.44
Werkzeug==2.2.3
gunicorn
email_validator

git commit -m "Add email_validator to dependencies"